<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Decision Task">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Decision-making Game - Results</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/results.css" />
  </head>
  <body>
    <main>

      <h1>Sessions <button type="button" name="button" class="btn btn-success" id="new-session">Create New Session</button> <a href="/" class="btn btn-primary">Start</a></h1>
      <% sessions.forEach(function(session){%>
        <div class="session">
          <div class="session-title">
            <h4>Session ID: <%= session._id %> | Date: <%= session.updatedAt %></h4>
          </div>
          <div class="session-content">
            <h4>Samples</h4>
            <% for (var key in session.results) {%>
              <div class="choice-problem">
                <% if (key !== "total_amount" && key !== "session_completed" ) { %>
                  <h5><%= key %></h5>
                  <table>
                    <tr>
                      <th>Option</th>
                      <th>Value</th>
                    </tr>
                    <% if (session.results[key].samples !== undefined ) { %>
                      <% session.results[key].samples.forEach(function(sample){%>
                        <tr>
                          <td> <b><%= sample.option %></b> </td>
                          <td> <b><%= sample.value %></b> </td>
                        </tr>
                      <% }); %>
                    <% } %>
                    <tr>
                      <td> <b>Final Decision:</b> </td>
                      <td> Option: <%= session.results[key].final_decision.option %> | Value: <%= session.results[key].final_decision.value %> </td>
                    </tr>
                  </table>
                <% }%>
              </div>
            <% } %>
          </div>
        </div>

      <% }); %>

    </main>

    <script type="text/javascript" src="/js/results.js"></script>

  </body>
</html>
